body{
	margin: 0;
	padding: 0;
}
p{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.logo2{
	padding-top: 10px;
}

.ul-class li{
	list-style: lower-alpha;s
}
.footer p{
	color: #838383;
}
